In [1]:
import pandas as pd

In [2]:
from src.GWY_news_utils import aggregate_content,calculate_attitude_score,load_attitude_dictionary,regression_x_y

In [3]:
from statsmodels.iolib.summary2 import summary_col
import statsmodels.api as sm

In [4]:

def ols_same_x(y_list,x):
    
    result_list = []
    
    for y in y_list:
        
        X,Y = regression_x_y(y,x,y_predict_lag=1,y_include_lag=0,x_include_lag=0)
        model = sm.OLS(Y,X)
        result = model.fit()
        result_list.append(result)
    
    return result_list

In [5]:
def ols_same_y(y,x_list):
    
    result_list = []
    
    check = 0
    
    for x in x_list:
        
        if check == 0:
            X,Y = regression_x_y(y,x,y_predict_lag=1,y_include_lag=0,x_include_lag=0)
            model = sm.OLS(Y,X)
            result = model.fit()
            result_list.append(result)
            check = 1
            
        X,Y = regression_x_y(y,x,y_predict_lag=1,y_include_lag=1,x_include_lag=0)
        model = sm.OLS(Y,X)
        result = model.fit()
        result_list.append(result)
    
    return result_list

In [6]:
data_directory = "data/extra_index_return/"
df = pd.read_excel(data_directory+"index_category_selected_2.xls")
df["交易日期_TrdDt"] = pd.to_datetime(df["交易日期_TrdDt"])

In [7]:
df_wide = pd.pivot_table(df,values="收盘价()_ClPr",index=["交易日期_TrdDt"],columns=["指数代码_IdxCd"])

In [8]:
df_wide.iloc[:,0:5].to_csv(data_directory+"index_category_selected_2_wide.csv")

In [12]:
sum(df_wide.index > "2016-09-25")

1

In [15]:
df_wide[df_wide.index > "2016-08-27"]

指数代码_IdxCd,903,904,905,906,907,399903,399904,399905,399906,399907
交易日期_TrdDt,,,,,,,,,,
2016-08-29,3075.04,4208.15,6427.53,3854.44,5198.72,3075.04,4208.15,6427.53,NaN,NaN
2016-08-30,3083.55,4203.05,6425.75,3857.53,5195.03,3083.55,4203.05,6425.75,NaN,NaN
2016-08-31,3104.51,4208.87,6434.21,3871.89,5202.04,3104.51,4208.87,6434.21,NaN,NaN
2016-09-01,3079.92,4176.02,6381.48,3841.02,5160.34,3079.92,4176.02,6381.48,NaN,NaN
2016-09-02,3096.00,4181.89,6356.95,3846.72,5153.03,3096.00,4181.89,6356.95,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2020-09-25,4607.61,5005.87,6236.89,4843.15,5575.73,4607.61,5005.87,6236.89,NaN,NaN
2020-09-28,4632.19,4993.38,6178.47,4841.63,5543.42,4632.19,4993.38,6178.47,NaN,NaN
2020-09-29,4631.74,5025.31,6228.77,4859.07,5583.50,4631.74,5025.31,6228.77,NaN,NaN
2020-09-30,4630.33,5014.36,6192.50,4848.68,5561.60,4630.33,5014.36,6192.50,NaN,NaN
2020-10-09,4699.68,5168.04,6357.97,4955.13,5721.61,4699.68,5168.04,6357.97,NaN,NaN

## Data Preparation

### Stock Return Data

In [54]:
data_directory = "data/extra_index_return/"

In [55]:
df = pd.read_csv(data_directory+"index_category_selected_2_wide.csv")

In [56]:
df["交易日期_TrdDt"] = pd.to_datetime(df["交易日期_TrdDt"])
df.index = df["交易日期_TrdDt"]
df = df.iloc[:,1:]
index_df = df

In [58]:
index_m = index_df.asfreq("BM",method="ffill")
index_m = index_m.pct_change()

index_w = index_df.asfreq("W",method="ffill")
index_w = index_w.pct_change()

index_d = index_df.asfreq("B",method="ffill")
index_d = index_d.pct_change()

In [59]:
index_d

                 903       904       905       906       907
交易日期_TrdDt
2010-01-04       NaN       NaN       NaN       NaN       NaN
2010-01-05  0.008151  0.008148  0.010409  0.008680  0.009262
2010-01-06 -0.008915 -0.000526 -0.001580 -0.005159 -0.001046
2010-01-07 -0.020005 -0.019486 -0.020027 -0.019882 -0.019752
2010-01-08  0.001686  0.004236  0.012401  0.004838  0.008261
...              ...       ...       ...       ...       ...
2020-10-05  0.000000  0.000000  0.000000  0.000000  0.000000
2020-10-06  0.000000  0.000000  0.000000  0.000000  0.000000
2020-10-07  0.000000  0.000000  0.000000  0.000000  0.000000
2020-10-08  0.000000  0.000000  0.000000  0.000000  0.000000
2020-10-09  0.014977  0.030648  0.026721  0.021954  0.028770

[2810 rows x 5 columns]

### Government Index

In [60]:
gov_index_d = pd.read_csv("data/output/daily_score_df.csv")
gov_index_w = pd.read_csv("data/output/weekly_score_df.csv")
gov_index_m = pd.read_csv("data/output/monthly_score_df.csv")

In [61]:
gov_index_d.index = pd.to_datetime(gov_index_d["date"])
gov_index_w.index = pd.to_datetime(gov_index_w["date"])
gov_index_m.index = pd.to_datetime(gov_index_m["date"])

In [62]:
gov_index_d = gov_index_d.iloc[:,1:]
gov_index_w = gov_index_w.iloc[:,1:]
gov_index_m = gov_index_m.iloc[:,1:]

### Government Index with Control

In [63]:
gov_index_d_e = pd.read_csv("data/output/daily_score_df_extra.csv")
gov_index_w_e = pd.read_csv("data/output/weekly_score_df_extra.csv")
gov_index_m_e = pd.read_csv("data/output/monthly_score_df_extra.csv")

In [64]:
gov_index_d_e.index = pd.to_datetime(gov_index_d_e["date"])
gov_index_w_e.index = pd.to_datetime(gov_index_w_e["date"])
gov_index_m_e.index = pd.to_datetime(gov_index_m_e["date"])

In [65]:
gov_index_d_e = gov_index_d_e.iloc[:,1:]
gov_index_w_e = gov_index_w_e.iloc[:,1:]
gov_index_m_e = gov_index_m_e.iloc[:,1:]

## Regression Analysis

### Merge X and Y

In [66]:
merge_df_m = index_m.merge(gov_index_m,how="inner",right_index=True,left_index=True)
merge_df_w = index_w.merge(gov_index_w,how="inner",right_index=True,left_index=True)
merge_df_d = index_d.merge(gov_index_d,how="inner",right_index=True,left_index=True)

In [67]:
merge_df_m_e = index_m.merge(gov_index_m_e,how="inner",right_index=True,left_index=True)
merge_df_w_e = index_w.merge(gov_index_w_e,how="inner",right_index=True,left_index=True)
merge_df_d_e = index_d.merge(gov_index_d_e,how="inner",right_index=True,left_index=True)

### Set up the regression

#### MLS With No control

In [86]:
regression_df = merge_df_m

In [87]:
regression_df.columns

Index(['903', '904', '905', '906', '907', 'economy', 'reform', 'regulation',
       'intervention'],
      dtype='object')

In [88]:
regression_df

,903,904,905,906,907,economy,reform,regulation,intervention
2016-04-29,-0.013282,-0.029208,-0.027652,-0.021552,-0.028383,0.446322,0.924524,0.406472,0.398502
2016-05-31,0.005984,0.000640,-0.006394,0.001035,-0.003095,0.777191,2.393915,0.415610,0.315864
2016-06-30,-0.008658,0.001768,0.029622,0.005171,0.016610,1.340982,2.262460,0.286841,0.358551
2016-07-29,0.007629,0.029913,0.012966,0.014977,0.020740,1.135499,1.287650,0.245133,0.312755
2016-08-31,0.040951,0.034835,0.037292,0.038246,0.036156,0.272351,0.976909,0.272351,0.224985
2016-09-30,-0.019936,-0.026506,-0.016493,-0.020605,-0.021124,0.573587,0.868930,0.181869,0.236274
2016-10-31,0.027266,0.022549,0.019614,0.023715,0.020962,0.595705,1.405436,0.199757,0.253264
2016-11-30,0.072399,0.040184,0.020670,0.048397,0.029647,0.548715,1.224732,0.272163,0.300696
2016-12-30,-0.064865,-0.063905,-0.048887,-0.059817,-0.055860,0.440852,1.333861,0.310857,0.356073
2017-01-31,0.034041,0.004937,-0.006373,0.014570,-0.001163,0.387150,1.221010,0.327588,0.148904
2017-02-28,0.011465,0.032710,0.036515,0.024241,0.034756,0.269962,1.033122,0.638563,0.181705
2017-03-31,0.002977,-0.002286,-0.007645,-0.001612,-0.005175,0.501263,1.093306,0.209189,0.196032
2017-04-28,-0.000207,-0.012760,-0.029647,-0.012078,-0.021840,0.507095,1.600372,0.325657,0.395441
2017-05-31,0.048120,-0.043465,-0.062423,-0.007137,-0.053582,0.463494,1.031647,0.269125,0.398704
2017-06-30,0.047330,0.054435,0.053924,0.050930,0.054167,0.823970,2.002375,0.411072,0.363570
2017-07-31,0.019262,0.019645,0.026040,0.021230,0.023010,0.451640,1.746911,0.451640,0.426076
2017-08-31,0.022737,0.022142,0.027379,0.023883,0.024906,0.438296,2.006574,0.746473,0.561567
2017-09-29,0.002092,0.006951,0.020529,0.008455,0.014139,0.662161,1.799251,0.575395,0.388163
2017-10-31,0.060305,0.014281,-0.006520,0.029955,0.003195,0.291250,1.380271,0.329239,0.253261
2017-11-30,0.014453,-0.028958,-0.045241,-0.012472,-0.037550,0.702441,0.779692,0.125757,0.172466
2017-12-29,0.006531,0.005495,-0.002012,0.004015,0.001560,0.484532,1.207603,0.380171,0.477078
2018-01-31,0.088282,0.005765,-0.009836,0.042264,-0.002292,0.527299,1.362188,0.439416,0.274635
2018-02-28,-0.069683,-0.035909,-0.026765,-0.050957,-0.031227,0.284300,1.547857,0.336949,0.410656
2018-03-30,-0.045967,-0.000097,0.015117,-0.019276,0.007736,0.539092,1.717784,0.383760,0.347212
2018-04-30,-0.033682,-0.041589,-0.041500,-0.037698,-0.041542,0.438624,1.352938,0.383023,0.450979
2018-05-31,0.013556,0.009210,-0.018173,0.004123,-0.004990,0.540916,1.275745,0.338838,0.220449
2018-06-29,-0.067372,-0.095097,-0.093268,-0.080889,-0.094132,0.422381,1.442677,0.570488,0.312671
2018-07-31,0.010186,-0.014802,-0.005566,0.000032,-0.010176,0.506325,1.606573,0.211991,0.247030
2018-08-31,-0.041113,-0.074681,-0.072060,-0.057035,-0.073358,0.792436,1.782981,0.621342,0.639352
2018-09-28,0.043894,0.004350,-0.002926,0.022916,0.000678,0.813743,2.124774,0.819771,0.427969
2018-10-31,-0.073033,-0.104802,-0.110021,-0.089361,-0.107425,0.514905,1.673442,0.216802,0.230352
2018-11-30,-0.004581,0.030281,0.024365,0.010267,0.027315,0.809211,1.602032,0.211009,0.335976
2018-12-31,-0.051752,-0.049543,-0.047664,-0.050209,-0.048577,0.582401,2.411502,0.536901,0.637001
2019-01-31,0.077025,0.033237,0.002023,0.048532,0.017381,0.701105,1.256697,0.396852,0.509293
2019-02-28,0.125859,0.192945,0.203239,0.159348,0.198098,0.186986,0.959860,0.311643,0.349040
2019-03-29,0.042681,0.082955,0.103948,0.067022,0.093508,0.623325,1.857930,0.442651,0.557078
2019-04-30,0.031388,-0.033218,-0.043280,-0.002865,-0.038320,0.338468,1.317032,0.149663,0.313140
2019-05-31,-0.073157,-0.070795,-0.074528,-0.072929,-0.072680,0.500026,1.608330,0.587659,0.902108
2019-06-28,0.065771,0.027448,0.007834,0.042863,0.017503,0.512972,2.545132,0.483378,0.443918
2019-07-31,0.001494,0.005046,-0.009551,-0.000297,-0.002351,0.994471,2.768837,0.462161,0.507551
2019-08-30,-0.011280,-0.004782,-0.003408,-0.007947,-0.004090,0.240233,1.668985,0.910355,0.467821
2019-09-30,0.002353,0.007560,0.011135,0.005627,0.009360,0.593032,1.368915,0.232271,0.375587
2019-10-31,0.020803,0.014628,-0.004752,0.013359,0.004853,0.446224,1.985126,0.577803,0.520595
2019-11-29,-0.022565,0.002730,-0.004572,-0.012545,-0.000918,0.914928,1.383093,0.240770,0.358480
2019-12-31,0.062496,0.087430,0.076144,0.071435,0.081707,0.516641,1.479226,0.532956,0.348053
2020-01-31,-0.038146,0.012770,0.020897,-0.012292,0.016875,0.236719,1.200110,0.357831,0.495458
2020-02-28,-0.032842,0.020587,0.013677,-0.008668,0.017080,0.231455,0.350006,0.191939,0.575816
2020-03-31,-0.056575,-0.080511,-0.075182,-0.067126,-0.077798,0.427611,0.698141,0.283620,0.650144
2020-04-30,0.059471,0.065524,0.061968,0.061562,0.063725,0.625924,0.798423,0.335140,0.694924
2020-05-29,-0.015644,-0.003315,0.009802,-0.006308,0.003314,0.570725,1.349373,0.294910,0.424331
2020-06-30,0.061660,0.106173,0.084730,0.078748,0.095579,0.599918,1.450288,0.396063,0.617392
2020-07-31,0.104688,0.169903,0.121964,0.126157,0.146597,0.483168,1.354971,0.456909,0.798277
2020-08-31,0.040804,-0.000530,0.013490,0.022749,0.006144,0.657667,1.038422,0.484597,0.576901
2020-09-30,-0.040187,-0.060911,-0.071371,-0.053386,-0.065940,0.992770,2.158196,0.593504,0.410057

In [89]:
#y_list_1 = [regression_df["16"],regression_df["10"],regression_df["9"]]
#y_list_2 = [regression_df["399330"],regression_df["399009"],
#            regression_df["399007"],regression_df["399010"],regression_df["399011"]]
y_list_3 = [regression_df["903"],regression_df["904"],regression_df["905"]]

x = regression_df.iloc[:,5:]

In [90]:
result_list = ols_same_x(y_list_3,x)

In [91]:
result_table = summary_col(result_list,
                             stars=True,
                             float_format="%0.3f",
                             info_dict={'N':lambda x: "{0:d}".format(int(x.nobs)),
                                        'R2':lambda x: "{:.2f}".format(x.rsquared)})

In [92]:
print(result_table.as_latex())

\begin{table}
\caption{}
\begin{center}
\begin{tabular}{lccc}
\hline
             &   903   &   904   &   905    \\
\midrule
const        & -0.031  & -0.020  & -0.015   \\
             & (0.026) & (0.032) & (0.032)  \\
economy      & 0.034   & 0.036   & 0.032    \\
             & (0.034) & (0.041) & (0.040)  \\
reform       & -0.008  & -0.010  & -0.014   \\
             & (0.018) & (0.021) & (0.021)  \\
regulation   & -0.024  & -0.035  & -0.020   \\
             & (0.050) & (0.060) & (0.059)  \\
intervention & 0.104** & 0.086   & 0.068    \\
             & (0.043) & (0.053) & (0.052)  \\
R-squared    & 0.059   & -0.002  & -0.022   \\
             & 0.131   & 0.076   & 0.056    \\
N            & 53      & 53      & 53       \\
R2           & 0.13    & 0.08    & 0.06     \\
\hline
\end{tabular}
\end{center}
\end{table}

#### SLS

In [282]:
regression_df = merge_df_m

In [283]:
y_list = [regression_df["9"],regression_df["10"],regression_df["16"],regression_df["300"],
         regression_df["399007"],regression_df["399009"],regression_df["399010"],regression_df["399011"]]
x = regression_df.iloc[:,13]

In [284]:
result_list = ols_same_x(y_list,x)

In [285]:
result_table = summary_col(result_list,
                             stars=True,
                             float_format="%0.3f",
                             info_dict={'N':lambda x: "{0:d}".format(int(x.nobs)),
                                        'R2':lambda x: "{:.2f}".format(x.rsquared)})

In [286]:
print(result_table.as_latex())

\begin{table}
\caption{}
\begin{center}
\begin{tabular}{lcccccccc}
\hline
             &    9    &    10   &    16   &   300   &  399007 &  399009 &  399010 &  399011  \\
\midrule
const        & -0.022  & -0.029* & -0.030* & -0.027  & -0.024  & -0.022  & -0.022  & -0.024   \\
             & (0.020) & (0.016) & (0.017) & (0.017) & (0.022) & (0.022) & (0.023) & (0.022)  \\
intervention & 0.059   & 0.089** & 0.095** & 0.085** & 0.077   & 0.057   & 0.051   & 0.069    \\
             & (0.044) & (0.037) & (0.038) & (0.040) & (0.049) & (0.049) & (0.052) & (0.049)  \\
R-squared    & 0.015   & 0.085   & 0.091   & 0.064   & 0.027   & 0.006   & -0.000  & 0.019    \\
             & 0.034   & 0.102   & 0.109   & 0.082   & 0.046   & 0.026   & 0.019   & 0.038    \\
N            & 53      & 53      & 53      & 53      & 53      & 53      & 53      & 53       \\
R2           & 0.03    & 0.10    & 0.11    & 0.08    & 0.05    & 0.03    & 0.02    & 0.04     \\
\hline
\end{tabular}
\end{center}
\end{table}

### MLS with control

In [319]:
regression_df.columns

Index(['9', '10', '16', '300', '399007', '399009', '399010', '399011',
       '399300', '399330', 'economy', 'reform', 'regulation', 'intervention',
       'total_length', 'number_of_text', 'EPU', 'EPU_change'],
      dtype='object')

In [428]:
regression_df = merge_df_m_e

In [457]:
y = regression_df["399011"]
x_list =[regression_df.iloc[:,10:14],regression_df.iloc[:,10:16],regression_df.iloc[:,10:]]

In [458]:
result_list = ols_same_y(y,x_list)

In [459]:
result_table = summary_col(result_list,
                             stars=True,
                             float_format="%0.3f",
                             info_dict={'N':lambda x: "{0:d}".format(int(x.nobs)),
                                        'R2':lambda x: "{:.2f}".format(x.rsquared)},
                          regressor_order=["const","economy","intervention","reform","regulation",
                                           "total_length","number_of_text","EPU","EPU_change"])

In [460]:
print(result_table.as_latex())

\begin{table}
\caption{}
\begin{center}
\begin{tabular}{lcccc}
\hline
                 & 399011 I & 399011\_y I & 399011\_y II & 399011\_y III  \\
\midrule
const            & -0.017   & -0.017      & 0.032        & 0.016          \\
                 & (0.034)  & (0.034)     & (0.042)      & (0.046)        \\
economy          & 0.020    & 0.020       & 0.045        & 0.069          \\
                 & (0.043)  & (0.043)     & (0.044)      & (0.048)        \\
intervention     & 0.084    & 0.079       & 0.042        & 0.051          \\
                 & (0.055)  & (0.055)     & (0.058)      & (0.059)        \\
reform           & -0.009   & -0.008      & -0.010       & -0.016         \\
                 & (0.022)  & (0.022)     & (0.022)      & (0.023)        \\
regulation       & -0.028   & -0.029      & -0.063       & -0.047         \\
                 & (0.063)  & (0.063)     & (0.064)      & (0.066)        \\
total\_length    &          &             & -0.000       & -0.000         \\
                 &          &             & (0.000)      & (0.000)        \\
number\_of\_text &          &             & -0.000       & -0.000         \\
                 &          &             & (0.000)      & (0.000)        \\
EPU              &          &             &              & -0.000         \\
                 &          &             &              & (0.000)        \\
EPU\_change      &          &             &              & 0.018          \\
                 &          &             &              & (0.016)        \\
399011\_x        &          & 0.139       & 0.134        & 0.057          \\
                 &          & (0.143)     & (0.141)      & (0.154)        \\
R-squared        & -0.023   & -0.025      & 0.015        & 0.009          \\
                 & 0.055    & 0.074       & 0.148        & 0.180          \\
N                & 53       & 53          & 53           & 53             \\
R2               & 0.06     & 0.07        & 0.15         & 0.18           \\
\hline
\end{tabular}
\end{center}
\end{table}